* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    width: 100%;
    caption {
        padding: 4px;
        margin: auto;
        font-size: 24px;
        font-weight: 700;
        color: red;
        background-color: gray;
        width: fit-content;
    }
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: rgb(84, 247, 84);
}